{% extends "base.html" %}

{% block content %}
    <div class="row mt-5 mb-5">
        <div class="col">
            <h2 class="mt-5 fs-2">Pet Project to learn viewflow library with Django.</h2>
            <p>
                Let's imagine the IT company Software+. A lot of great developers work here.
                And it's important to make the process of grade improvement as easy as possible.
            </p>
            <p>This project "ICrm" should help the company with this issue.</p>
        </div>
        <div class="col">
            <img src="https://quintagroup.com/cms/python/images/viewflow.png" class="img-thumbnail" alt="viewflow logo">
        </div>
    </div>
    <div class="row mb-5 p-3 bg-dark text-light">
        <div class="text-end fs-2">User stories</div>
    </div>
    <div class="row mb-5">
        <div class="col-4">
            <div id="list-userstories" class="list-group">
                <a class="list-group-item list-group-item-action" href="#item-admin">Admin user</a>
                <a class="list-group-item list-group-item-action" href="#item-delivery">Delivery manager user</a>
                <a class="list-group-item list-group-item-action" href="#item-customer">Customer user</a>
                <a class="list-group-item list-group-item-action" href="#item-developer">Developer user</a>
            </div>
        </div>

        <div class="col-8" style="height: 300px; overflow: auto;">
            <div data-spy="scroll" data-target="#list-userstories" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                <div id="item-admin">
                    <h4>Admin user</h4>
                    <p>Can add new delivery manager.</p>
                    <p>Can add new customer.</p>
                    <p>Can add new developer.</p>
                </div>
                <div id="item-delivery">
                    <h4>Delivery manager user</h4>
                    <p>Can suggest a developer to the particular customer.</p>
                    <p>Can see all started "grade improvement" processes by his developers.</p>
                    <p>Can approve or reject a "grade improvement" process has been started by his developer.</p>
                </div>
                <div id="item-customer">
                    <h4>Customer user</h4>
                    <p>Can see all his developers.</p>
                    <p>Can see all "grade improvement" processes initiated by his developers.</p>
                    <p>Can approve or reject a "grade improvement" process initiated by his developer.</p>
                </div>
                <div id="item-developer">
                    <h4>Developer user</h4>
                    <p>Can start a "grade improvement" process (only one started process can be at a time).</p>
                    <p>Can see all initiated processes by himself (with current status).</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}